limpeza_compactacao_arquivos_de_carga/tests/clientes
limpeza_compactacao_arquivos_de_carga/src/log/limpeza_compactacao_carga.log
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga01.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga02.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga03.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga04.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga05.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga01.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga02.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga03.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga04.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga05.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga01.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga02.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga03.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga04.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga05.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga01.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga02.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga03.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga04.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga05.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga01.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga02.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga03.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga04.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga05.txt.gz
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga01.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga02.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga03.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga04.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente01/2023-03-21/arquivo_de_carga05.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga01.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga02.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga03.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga04.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente02/2023-03-21/arquivo_de_carga05.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga01.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga02.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga03.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga04.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente03/2023-03-21/arquivo_de_carga05.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga01.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga02.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga03.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga04.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente04/2023-03-21/arquivo_de_carga05.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga01.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga02.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga03.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga04.txt
limpeza_compactacao_arquivos_de_carga/tests/clientes/cliente05/2023-03-21/arquivo_de_carga05.txt
